.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  padding: 1rem;

  color: #f0f2f5;
  background-color: #1b1b1b;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.HeaderTitle {
  color: #f0f2f5;
  font-style: italic;
  font-weight: bold;
}

.HeaderIcons {
}

#HeaderLine {
  margin: 0.5rem;
  height: 2.5rem;
  border-right: 1px solid #f0f2f5;
}
