.graph-expenses {
  display:block;
  overflow:auto;
  justify-content: space-between;
  padding: 1rem;
  background-color: #1b1b1b;
  border-radius: 5px;
}

.year-button {
  font: inherit;
  cursor: pointer;

  height: 30px;

  
  border: 1px solid #2f2f2f;
  background-color: #fbfbfb;
  color: #2f2f2f;
  border-radius: 5px;
  /* margin-right: 1rem; */
  /* margin-bottom: 2%; */

  transition: 0.5s;
  transform: scale(1);
}

.progressBar-group{
  display:flex;
  justify-content: space-between;

}