.GraphBar {
  --progress: 62;
  transition: 1s;

  display: flex;
  background-color: #fafafa;
  border-radius: 100px;
  height: 15px;
  padding: 3px;
}

.GraphBar::before {
  content: "";
  transition: 1s;

  width: calc(var(--progress) * 1%);

  border-radius: 100px;
  /* width: 74%; */
  background-color: #2f2f2f;
}

/*

Nome: Lucas Omar Andrade Leal
CPF: 086.541.016-01
Email: lucasomarandradeleal@gmail.com

Endereço:
Avenida Ferrero, 315, Bortolan Norte I - 37704-500, Poços de Caldas-MG

- pagamento
- custo do visto/passaporte


*/
